:root {
    --primary-bg-color: #333;
    --secondary-bg-color: #222;
    --primary-button-color: #0078d4;
    --primary-red: #d0342c;
    --primary-green: #198754;
    --primary-button-color-hover: #0056b3;
    --primary-border-radius: 7px;
    --primary-input-height: 40px;
    --primary-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 4px 8px rgba(0, 0, 0, 0.05);
    --primary-margin: 8px;
    --primary-padding: 10px;
    --primary-gray: rgb(163, 163, 163);
    --cred-field-width: 300px;
}

* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}

section {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--secondary-bg-color);
}

.link {
    color: var(--primary-button-color);
    cursor: pointer;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 120px;
    text-align: center;
}

input:focus {
    outline: #fff;
    border-color: #fff;
}

.price-tag {
    color: var(--primary-green)
}

.modal-close {
    cursor: pointer;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


/* Firefox */

input[type=number] {
    -moz-appearance: textfield;
}