.login-header {
    color: #fff;
    margin: var(--primary-margin);
}

.login-container {
    padding: var(--primary-padding);
    height: 350px;
    width: 500px;
    display: flex;
    flex-direction: column;
    background-color: var(--primary-bg-color);
    align-items: center;
    justify-content: center;
    border-radius: var(--primary-border-radius);
    box-shadow: var(--primary-box-shadow);
}

.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 300px;
}

.cred-input {
    height: var(--primary-input-height);
    border-radius: var(--primary-border-radius);
    border: 1px solid var(--primary-gray);
    background-color: var(--primary-bg-color);
    margin: var(--primary-margin);
    padding: var(--primary-padding);
    box-sizing: border-box;
    width: var(--cred-field-width);
    color: var(--primary-gray);
}

.login-button {
    height: var(--primary-input-height);
    width: var(--cred-field-width);
    background-color: var(--primary-button-color);
    border-radius: var(--primary-border-radius);
    box-sizing: border-box;
    border: none;
    color: #fff;
}

.login-button:hover {
    background-color: var(--primary-button-color-hover);
    border: 1px solid var(--primary-button-color-hover);
}

.alert {
    background-color: var(--primary-red);
    width: 100%;
    display: flex;
    flex-direction: column;
    height: var(--primary-input-height);
    color: #fff;
    border-radius: var(--primary-border-radius);
    font-weight: 400;
    justify-content: center;
    align-items: center;
}

.success-alert {
    background-color: var(--primary-green) !important;
}

.login-register-switch {
    color: #fff;
    font-size: small;
    margin: var(--primary-margin)
}

@media (max-width: 768px) {
    .login-container {
        padding: var(--primary-padding);
        height: 250px;
        width: 80vw;
    }
    /* .login-header {
        font-size: 2.5vw;
    } */
    .cred-input {
        width: min(var(--cred-field-width), calc(80vw));
    }
    .login-button {
        width: min(var(--cred-field-width), calc(80vw));
    }
}