<ng-container>
    <nav class="nav-bar">
        <div class="logo-container">
            <div class="logout-responsive-spacer">
                <div class="logout-responsive-pesudo">

                </div>
            </div>
            <div class="logo-wrapper">
                <div class="logo">
                    <i class="fa-solid fa-bolt" style="color: #fff;"></i>
                    <h3>StockPulse</h3>
                </div>
            </div>
            <div class="logout-responsive-spacer">
                <div class="logout-responsive">
                    <i class="fa-solid fa-xs fa-right-from-bracket"></i>
                </div>
            </div>
        </div>
        <div class="search-bar-wrapper">
            <input #searchQuery [disabled]="showStockModal" type="text" (input)="onInputChange()" class="search-bar" placeholder="Search">
            <div class="search-icon-wrapper" (click)="onSearchClick()">
                <i class="fa-solid fa-xs fa-magnifying-glass" style="color: #fff;"></i>
            </div>
        </div>
        <div class="logout">
            Log Out
            <i class="fa-solid fa-right-from-bracket"></i>
        </div>
    </nav>
    <div *ngIf="showOverlay" class="search-overlay"></div>
    <stock-modal *ngIf="showStockModal" [symbol]="selectedStockSymbol" [companyName]="selectedStockCompany" (closeModal)="closeModal()"></stock-modal>
    <ul *ngIf="showResults">
        <li *ngFor="let item of searchResults" (click)="onItemClick(item['1. symbol'], item['2. name'])">
            <div class="search-result-company-name">
                {{item['2. name']}}
            </div>
            <div class="search-result-symbol">
                {{item['1. symbol']}}
            </div>

        </li>
        <li>
            <div class="search-result-company-name">
                Sample Stock Company
            </div>
            <div class="search-result-symbol">
                SamSYM
            </div>

        </li>
    </ul>

</ng-container>