.nav-bar {
    display: flex;
    background-color: var(--primary-bg-color);
    height: var(--navbar-height);
    width: 100%;
    position: absolute;
    top: 0px;
    right: 0px;
    color: #fff;
    padding: var(--primary-padding);
    box-sizing: border-box;
    align-items: center;
    justify-content: space-evenly;
    box-shadow: var(--primary-box-shadow);
}

.search-bar-wrapper {
    display: flex;
    flex-direction: row;
}

.search-bar {
    min-width: 50vw;
    background-color: var(--secondary-bg-color);
    border: none;
    font-size: small;
    color: #fff;
    height: var(--primary-input-height);
    width: 60%;
    padding: calc(var(--primary-padding)/2);
    height: 30px;
    border-radius: var(--primary-border-radius);
    box-sizing: border-box;
}

.search-icon-wrapper {
    background-color: var(--primary-button-color);
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: var(--primary-border-radius);
    margin-left: var(--primary-margin);
    box-sizing: border-box;
    border: none;
    cursor: pointer;
}

.search-icon-wrapper:hover {
    background-color: var(--primary-button-color-hover);
}

.search-bar::placeholder {
    text-align: center;
}

ul {
    width: 60vw;
    position: absolute;
    top: 70px;
    right: 20vw;
    background-color: var(--primary-bg-color);
    border-radius: var(--primary-border-radius);
    box-shadow: var(--primary-box-shadow);
    list-style: none;
    padding: var(--primary-padding);
    box-sizing: border-box;
    z-index: 1;
}

li {
    font-size: medium;
    color: #fff;
    display: flex;
    flex-direction: row;
    margin: var(--primary-margin);
    padding: var(--primary-padding);
    cursor: pointer;
}

.search-result-symbol {
    display: flex;
    flex: 1;
    flex-direction: row-reverse;
    font-weight: bold;
}

.search-result-company-name {
    flex: 1;
    display: flex;
    font-weight: 100;
}

.search-result-price {
    font-weight: 100;
}

.search-overlay {
    position: fixed;
    top: 50px;
    left: 0px;
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.logout {
    background-color: #fff;
    border-radius: var(--primary-border-radius);
    color: var(--primary-bg-color);
    height: 30px;
    font-size: small;
    padding: calc(var(--primary-padding)/2);
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    border: none;
    font-weight: bold;
    width: 90px;
}

.logout-responsive {
    display: none;
}

.logout-responsive-spacer {
    display: none;
}


/* Responsive */

@media (max-width: 768px) {
    .logo-container {
        display: flex;
        width: 100vw;
        flex-direction: row;
        margin-bottom: calc(2*var(--primary-margin));
        margin-top: calc(var(--primary-margin));
        align-items: center;
    }
    .logo-wrapper {
        display: flex;
        flex: 5;
        align-items: center;
        justify-content: center;
    }
    .nav-bar {
        flex-direction: column;
        height: 100px;
        align-items: center;
        justify-content: center;
    }
    .logout {
        display: none;
    }
    .logout-responsive {
        background-color: #fff;
        border-radius: var(--primary-border-radius);
        color: var(--primary-bg-color);
        height: 25px;
        width: 25px;
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin-left: var(--primary-margin);
        padding: var(--primary-padding);
    }
    .logout-responsive-spacer {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .logout-responsive-pesudo {
        height: 25px;
        width: 25px;
        background-color: var(--primary-bg-color);
    }
    .search-bar-wrapper {
        width: 100vw;
        align-items: center;
        justify-content: center;
    }
    .search-bar {
        min-width: 80vw;
    }
}